.topbar {
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.945);
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 25px;
  font-weight: 800;
  color: rgb(252, 252, 252);
  cursor: pointer;
}
.topLeft{
    display: flex;
    justify-content: center;
    align-items: center;
}

.topRight{
    display: flex;
    align-items: center;
  

}

.topbarIconContainer {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
  margin-top: 5px;
}

.topIconBadge{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: 0px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.topbarIconMenu{
    display: none;
}

@media only screen and (max-width: 768px) {
    .topbarIconMenu{
        display: inline-block;
    }
}